# Node / build
node_modules
dist
.vscode
.DS_Store

# Env / config
.env
.env.local
.env.production
firebaseConfig.json

# System / temp
*.log
npm-debug.log*

# Local Netlify folder
.netlify

deno.lock